[Unit]
Description=Apply Fedora system updates every month.
After=network.target

[Service]
ExecStart=/usr/bin/dnf update -y
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target

