[Unit]
Description=Apply updates on every month 28th fedora system boot
After=network.target

[Service]
ExecStart=/usr/bin/dnf update -y
Type=simple

[Install]
WantedBy=default.target
RequiredBy=network.target

